.col__perfil {
	height: 120vh;

}
.foto__cont{
	position: absolute;
	margin-left: 40px;
	margin-top: 50px;
	width: 200px;
	height: 200px;
}
.foto__perfil{
	
	border: rgb(89,156,152) 5px solid;
	border-radius: 90%;
	width: 200px;
	height: 200px;
	position: relative;
	z-index: 400;
}
.editFotoPerfil{
	background: rgb(66 62 61);
    width: 0vw;
    height: 198px;
    padding-top: 173px;
    padding-left: 0px;
    position: absolute;
    margin-top: -203px;
    margin-left: 108px;
    z-index: 339;
    border: rgb(89 156 152) 2px solid;
	transition: all 1s;
}

.cont__info-perfil{
	position: absolute;
	width: 45vw;
	height: 500px;
	background: rgb(87,83,82);
	left: 14.3vw;
	margin-top: 90px;
}
.info__perfil{
	width: 42vw;
	height: 490px;
	overflow: auto;
	position: absolute;
    display: inline-block;
	margin-top: 10px;
	margin-left: 50px;
	padding-left: 10vw;
    padding-right: 13vw;
}
.info__perfil h2{
	color: rgb(17,254,225);
    font-size: 40px;
}
.info__perfil h3{
	color: rgb(243,243,243);
    font-size: 30px;
}
.info__perfil p {
	color: #000000;
	font-size: 20px;
}