<article class="col  col__perfil" >
                    
    <div class="linea__inicio" id="linea"></div>
     <div class="foto__cont" >
         <img class="foto__perfil" src="./assets/imagenes/foto.png">
     </div>
         
     <div class="cont__info-perfil"> 
         <div id="contEditPerfil"class="info__perfil">
        
             <h2 id="colorFontPerfil1">Rocio Lescano</h2>
             <h3 id="colorFontPerfil2">Full Stack Developer Jr</h3>
             <p id="colorFontPerfil3">#rkjgbndkjnhrlt.      kyfhlmkjjnkhbhjjnmgynjmh</p>
         </div>
    </div>
</article>
