<article class="col  col__perfil" >
                    
    <div class="linea__inicio" id="linea"></div>
     <div class="foto__cont" ><img class="foto__perfil" src="imagenes/foto.png">
         <div class="edit__FotoPer" id="editFotoPerf">
             <img class="icon__edit-foto" src="imagenes/editar.png">
         </div>
         <div class="edit__FotoPer-2" id="editFotoPerf2" >
             <img class="icon__palomita-foto"   src="imagenes/cheque.png">
             <img class="icon__X-foto"  src="imagenes/eliminar.png">
         </div>
       <!--- <div class="editFotoPerfil" id="contFile">
             <input type="file" id="inpFile" >
         </div> ---> 
     </div>
         
     <div class="cont__info-perfil"> 
         <div id="contEditPerfil"class="info__perfil">
        
             <h2 id="colorFontPerfil1">Rocio Lescano</h2>
             <h3 id="colorFontPerfil2">Full Stack Developer Jr</h3>
             <p id="colorFontPerfil3">#rkjgbndkjnhrlt.      kyfhlmkjjnkhbhjjnmgynjmh</p>
         </div>
    </div>
</article>
