body{
	background:#aaa ;
}

.nav{
	position: fixed;
	top: 0;
	width: 100%;
	height: 5em;
	opacity: 1;	
	z-index: 200;
	background:#3c0824;
/*background: rgb(24,4,11);
background: -moz-linear-gradient(97deg, rgba(24,4,11,1) 0%, rgba(96,11,61,1) 35%, rgba(116,13,74,1) 52%, rgba(127,14,82,1) 58%, rgba(144,16,94,1) 65%, rgba(157,17,103,1) 77%, rgba(231,25,154,1) 100%);
background: -webkit-linear-gradient(97deg, rgba(24,4,11,1) 0%, rgba(96,11,61,1) 35%, rgba(116,13,74,1) 52%, rgba(127,14,82,1) 58%, rgba(144,16,94,1) 65%, rgba(157,17,103,1) 77%, rgba(231,25,154,1) 100%);
background: linear-gradient(97deg, rgba(24,4,11,1) 0%, rgba(96,11,61,1) 35%, rgba(116,13,74,1) 52%, rgba(127,14,82,1) 58%, rgba(144,16,94,1) 65%, rgba(157,17,103,1) 77%, rgba(231,25,154,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#18040b",endColorstr="#e7199a",GradientType=1);*/
}
.conten__nav1{
	display: inline-block;
	
	width: 100%;
	height: 5em;
}
.conten__nav1 li {
	display: inline-block;
	color: black;
	list-style: none;
	text-align: center;
	padding-top: 5px;
}
.logo__arg{
	background: #777;
	margin-top: 20px;
	margin-left: 20px;
	width: 15%;
	height: 30px;
}
.conten__nav2{
	display: inline-block;
	float: right;
}
.red__social{
	position: absolute;
	font-size: 300%;
	right: 6em;
	top:0.25em;
	
}

.iniciosesion{
	margin-right: 7em;
	margin-top: 16px;
	
}
.iniciosesion input {
	width:7em;
	height: 2.5em;
	background: rgb(205,20,136);
	background: -moz-linear-gradient(90deg, rgba(205,20,136,1) 0%, rgba(85,1,52,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(205,20,136,1) 0%, rgba(85,1,52,1) 100%);
	background: linear-gradient(90deg, rgba(205,20,136,1) 0%, rgba(85,1,52,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cd1488",endColorstr="#550134",GradientType=1);
	border: none;
	color: #ddd;
}

.banner__cont{
	top: 0;
	position: relative;
	z-index: 1;
	background: rgb(0,0,0);
	background: -moz-linear-gradient(47deg, rgba(0,0,0,1) 0%, rgba(24,4,11,1) 15%, rgba(60,8,36,1) 33%, rgba(96,11,61,1) 46%, rgba(116,13,74,1) 56%, rgba(127,14,82,1) 64%, rgba(144,16,94,1) 70%, rgba(157,17,103,1) 79%, rgba(231,25,154,1) 100%);
	background: -webkit-linear-gradient(47deg, rgba(0,0,0,1) 0%, rgba(24,4,11,1) 15%, rgba(60,8,36,1) 33%, rgba(96,11,61,1) 46%, rgba(116,13,74,1) 56%, rgba(127,14,82,1) 64%, rgba(144,16,94,1) 70%, rgba(157,17,103,1) 79%, rgba(231,25,154,1) 100%);
	background: linear-gradient(47deg, rgba(0,0,0,1) 0%, rgba(24,4,11,1) 15%, rgba(60,8,36,1) 33%, rgba(96,11,61,1) 46%, rgba(116,13,74,1) 56%, rgba(127,14,82,1) 64%, rgba(144,16,94,1) 70%, rgba(157,17,103,1) 79%, rgba(231,25,154,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#e7199a",GradientType=1);
	width: 100%;
	height: 100vh;
	

}



/* (CUERPO)--------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------*/

.cuerpo{
	top: 0px;
	background: rgb(165, 165, 165);
	z-index: 100;
	width: 100%;
	height: 100em;
	position: relative;
	border: #000 2px solid;
}
.perfil{
	display: inline-block;
	position: absolute;
	top: 5em;
	
	border: #000 3px solid;
	width: 80%;
	height: 20%;
	right: 10%;
	left: 10%;

}
.foto__perfil{
	position: absolute;
	width:30%;
	height: 30%;
	margin-top: 20%;
	left: 60%;
	object-fit: cover;
	
	z-index: 30;
}
.foto__perfil img{
	border: #3c0824 5px solid;
	
	border-radius: 90%;
}
.cuadro1{
	display: inline-block;
	position: absolute;
	background: #f8f;
	padding: 15% 15% 15% 15%;
	margin-top: 3%;
	right: 1%;
	z-index: 20;
	
}
.cuadroTexto1{
	position: relative;
	background: #fff;
	width: 70%;
	top: 15%;
	padding: 5% 5% 8% 5%;
	pa
	
}
.cuadroTexto1 p {
	font-size: 2vw;
}
